body{
    background: slategray;
    font-family: 'Didact Gothic', sans-serif
}

.background{
    background: rgb(112,128,144);
    background: linear-gradient(0deg, rgba(112,128,144,1) 0%, rgba(255,255,255,1) 100%, rgba(146,229,255,1) 100%);
}
/* body{
background: rgb(184,185,207);
background: linear-gradient(90deg, rgba(184,185,207,1) 0%, rgba(255,255,255,1) 44%, rgba(146,229,255,1) 97%);
} */

.navbar{
   background-color: slategrey;
   background-blend-mode: overlay;
   align-items: center;
   /* justify-content: space-evenly; */
}

.title{
    font-size: 42px;
    color: white;
    padding-top: 10px;
    font-family: 'Fredoka One', cursive;
    /* align-items: left; */
}

.nav2{
    background-color: #DA5C34;
}
li{
    background-color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    align-items: center;
    margin: 5px;
}
.list-group{
    display: flex;
    flex: row;
    font-family: 'Fredoka One', cursive;
    color:  #DA5C34;
    flex-wrap: wrap;
    margin: 2px;
}

h1{
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
}


.icon-main{
    width: 150px;
    height: 150px;
    background-color: slategrey;
    border-radius: 50%;
    border: solid;
    border-color: slategrey;;
}

.icon{
    width: 75px;
    height: 75px;
    background-color: rgb(172, 172, 172);
    border-radius: 50%;
    border: solid;
    border-color: #DA5C34;
}

.card{
    /* width: fit-content; */
    height: 250px;
    width: 200px;
    align-content: center;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}

.jumbotron{
    padding: 25px 25px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.781);
}

#searchBox{
    padding: 25px 15px 15px 15px;
    width: 400px;
    margin: none;
}

.btn{
    background-color: #DA5C34;
    /* padding: 25px 15px 15px 15px; */
    margin-top: 25px;
}