body{
    background: slategray;
    font-family: 'Didact Gothic', sans-serif
}

body{
    background: rgb(255,199,2);
    background: linear-gradient(90deg, rgba(255,199,2,1) 0%, rgba(20,212,255,1) 38%, rgba(48,155,255,1) 97%);
}


.navbar{
   background-color: slategrey;
   background-blend-mode: overlay;
   align-items: center;
   /* justify-content: space-evenly; */
}

.title{
    font-size: 42px;
    color: white;
    padding-top: 10px;
    font-family: 'Fredoka One', cursive;
    /* align-items: left; */
}

.saved-cities{
    background-color: slategrey;

}
.list-group{
    display: flex;
    flex: row;
    font-family: 'Fredoka One', cursive;
    color: slategrey;
}

h1{
    font-family: 'Fredoka One', cursive;

}


.icon-main{
    width: 150px;
    height: 150px;
    background-color: slategrey;
    border-radius: 50%;
    border: solid;
    border-color: slategrey;;
}

.icon{
    width: 75px;
    height: 75px;
    background-color: slategrey;
    border-radius: 50%;
    border: solid;
    border-color: slategrey;
}

.card{
    /* width: fit-content; */
    height: 250px;
    width: 200px;
    align-content: center;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}

.jumbotron{
    padding: 25px 25px;
    width: auto;
}

#searchBox{
    padding: 25px 15px 15px 15px;
    width: 400px;
    margin: none;
}

#searchButton{
    padding: 25px 15px 15px 15px;
    margin: none
    ;
}